
.__link h2 {
  font-size: 25px;
  position: relative;
  color: $color-primary }

.__link h2:after, 
.__link h2:before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0%;
  height: 4px;
  margin: 5px 0 0;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: $color-black; }

.__link h2:after {
  right: calc(50%);
  border-radius: 5px 0px 0px 5px; }

.__link h2:before {
  left: calc(50%);
  border-radius: 0px 5px 5px 0px; }

.__link a:hover > h2:after,
.__link a:hover > h2:before {
  width: 50%;
  opacity: 1; }